*{
    padding: 0;
    margin: 0; 
}
body{
    font-family: 'Poppins', sans-serif;
  
}
.header{

   padding: 10px;
   display: flex;
   background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0px;
    z-index: 4;
    cursor: pointer;
}
.header__1{
    display: flex;
    
    
}
.header__1 h1{
    font-size: 30px;
    color: black;
    
    margin-top: 10px;
    
}
.header__1 img{
    width: 50px;
    height: 50px;
}
.header__2{
   
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding-left: 10px;

}
.header__2 p1:hover{
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 30px;
    padding: 10px;
  
}

.header__2 p2:hover{
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 30px;
    padding: 10px;
   
}
.header__2 p3:hover{
    color: black;
    background-color: lightgray;
    border-color: lightgray;
    border-radius: 30px;
    padding: 10px;
   
}
.header__2 p4:hover{
   text-decoration: underline;
    color: lightgray;
    
}
.header__3{
   
    display: flex;
    align-items: center;
    gap:30px;
    font-family: 'roboto', sans-serif;
    padding-right: 40px;
  
  
    
}

.header__3 i:hover{
     background-color: lightgrey;
    border-radius: 30px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    border: lightgrey 1px solid;
    color: black;
}
.header__3 p4{
    
    color: white;
   background-color: black;
   border-radius: 30px;
   border: black 1px solid;
    padding: 10px 20px;
  
    
}
/* heading */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 3%;
}

 /* categories */
 .categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    position: relative;
    font-family: 'roboto', sans-serif;
    font-size: medium;
    font-weight: bold;
    height:10px;
    padding-bottom: 0px;
    padding-top: 20px;
    cursor: pointer;
 
   

  
 }
 .categories :hover{
  text-decoration: underline;
    color: gray;
   transition: 2s;

    
}
 .categories__1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    text-decoration: underline;
    gap: 5px;
 }
 .categories__2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
 }
 .categories__3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
 }
 .categories__4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
 }
 .categories__5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
 }
 .categories__6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
 }
/* Search bar */

.searchbar{
    padding: 10px;
    border-radius: 30px;
    width: 800px;
    display: flex;
    margin: auto;
    justify-content:center;
   font-size: large;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    position: sticky;
    top: 0px;
    z-index: 4;
    
}
.searchbar i{
   display: flex;
    align-items: center;
    justify-content: center;
   padding: 10px;
    
}
.searchbar__input{
    display: flex;
    border: none;
    outline: none;
    width: 500px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
   
    padding-right: 200px;
  
}


.searchbar button{
    border: none;
    outline: none;
    background-color: #30ee9c;
    border-radius: 30px;
    padding: 10px;
    width: 100px;
    height: fit-content;

}
/* picture */
.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:black;
    text-align: center;
    padding-top: 3%;
   
    border-radius: 10%;
}
.picture img{
   border-radius: 20px;
   width: fit-content;
    height: 100%;
  
}
.picture__1 p2{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: 500;

}

.picture__1{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 5px;
    position: absolute;
    left: 15%;
    top:10%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: medium;
    
}
.picture__2 p3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    color: white;
    position: absolute;
    left: 15%;
    top:30%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 50px;
}
.picture__2 p4{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    color: white;
    position: absolute;
    left: 15%;
    top:45%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 50px;
}
.picture__3 p5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    color: white;
    position: absolute;
    left: 15%;
    top:55%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
}
.picture__3 p6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    color: white;
    position: absolute;
    left: 15%;
    top:63%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
}
.picture__3 p7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    color: white;
    position: absolute;
    left: 15%;
    top:70%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    
}
.picture__4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
    color: black;
    position: absolute;
    left: 15%;
    top:80%;
    bottom: 40%;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
/* explore */
.explore{
   
   
    justify-content: center;
    align-items: center;
    
    gap: 5px;
    font-family: 'roboto', sans-serif;
    padding-top: 30px;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-right: 400px;
   
}
.explore__1 h5{
    font-size: 30px;
    font-weight: 400;
    padding-right: 180px;
}
.explore__1 p1{
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 5px;
    font-family: 'roboto', sans-serif;
    
    font-size: 18px;
    font-weight: 300;
    color: black;
    text-align: center;
    padding-right: 300px;
    padding-top: 10px;
    
}

.explore__categories{
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;

    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 100%;
}
.explore__categories p{
    margin-top: 10px;

}
.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color:white;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    
}

.places img{
    width: 280px;
    height: 280px;
    border-radius: 20px;
    
    
    
}
.places__1 h1{
    position: absolute;
    bottom: 40px;
    left: 100px
    
}
.places__2 h1{
    position: absolute;
    bottom: 40px;
    left: 420px
}
.places__3 h1{
    position: absolute;
    bottom: 40px;
    left: 750px;
}
.places__4 h1{
    position: absolute;
    bottom: 40px;
    left: 1020px;
}
.suggestion{
    padding: 10px;
}
.suggestion__1 h5{

    font-size: 30px;
    font-weight: 400;
    padding-left: 80px;
}
.suggestion__1 p1{
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap: 5px;
    font-family: 'roboto', sans-serif;
    
    font-size: 18px;
    font-weight: 300;
    color: black;
    text-align: center;
   padding-right: 860px;
    padding-top: 10px;
    
}
/* photos */

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color:white;
    padding: 10px;
    text-align: center;
    
}
.photos img{
    width: 280px;
    height: 280px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
    
}


.photos__1 h1{
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 2px;
}
.photos__1 p{
    color: grey;
    font-size: small;
    padding-right: 120px;
}
.photos__2 h1{
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 2px;
}
.photos__2 p{
    color: grey;
    font-size: small;
    padding-right: 120px;
}
.photos__3 h1{
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 2px;
}
.photos__3 p{
    color: grey;
    font-size: small;
    padding-right: 120px;
}
.photos__4 h1{
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 2px;
}
.photos__4 p{
    color: grey;
    font-size: small;
    padding-right: 120px;
}
/* banner */
.banner{
    position: relative;
}
.banner__1 img{
    padding-top: 30px;
   
}
.banner__2 button{
    font-size: large;
    border: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    left: 130px;
    bottom: 80px;
    cursor: pointer;
}
.banner__2 button:hover{
    opacity: 20;
}
.footer{
    padding: 30px;
    background-color: lightgrey;
    color: black;
    margin-top: 50px;
}
.footer__1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-family:  'roboto', sans-serif;
   font-size: small;
}

.footer__2{
    display: flex;
    justify-content: space-between;
    font-family:  'roboto', sans-serif;
    margin-top: 20px;
    font-size: x-small;
    margin-right: 450px;
}
.footer__2__s1 img{
    width: 50px;
    height: 50px;
    padding-left: 60px;
}
.footer__2__s2{
   padding-right: 50px;
}
.footer__2__s3{
    margin-top: 20px;
  
}
.footer__2__s4{
    margin-top: 20px;
  
}
.footer__2__s5{
    margin-top: 20px;
  
}
.footer__2__s6{
    margin-top: 20px;
  
}
.footer__3__s1{
    font-family:  'roboto', sans-serif;
    font-size: small;
 
}
.footer__3{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
